<div class="weather__inform-container">
  <div class="weather__degrees">
    <span>{{temp}}</span>

    <img src="assets/images/ring.png" alt="big-ring" class="big-ring" />
  </div>

  <div class="overcast">
    <div>
      <img src="assets/images/cloudy.svg" alt="lio" class="lio" />
    </div>

    <div class="info__text">
      <span>overcast</span>
      <span>
        feels like: {{feelsLike}}
        <img
          src="assets/images/ring.png"
          alt="little-ring"
          class="little-ring-overcast"
        />
      </span>
      <span>wind: {{wind}} m/s</span>
      <span>humidity: {{humidity}}%</span>
    </div>
  </div>
</div>
