/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*                                                   */
/*                                                   */

.arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.fontsize30 {
  font-size: 30px;
}
.italic {
  font-style: italic;
  /* font-style: normal; */
  /* font-style: oblique; */
}
.font700 {
  font-weight: 700;
}
.colorred {
  color: red;
}
.textalign {
  text-align: right;
  /* text-align: center; */
  /* text-align-last: left; */
  /* text-align: justify; */
}
.textdecoration {
  text-decoration: underline;
  /* text-decoration: overline; */
  /* text-decoration: line-through; */
  /* text-decoration: none; */
}
.shadow {
  text-shadow: 1px 1px 1px #000000;
}
.texttransform {
  text-transform: capitalize;
  /* text-transform: lowercase; */
  /* text-transform: uppercase; */
  /* text-transform: none; */
}
.textident {
  text-indent: 50px;
}
.lspace {
  letter-spacing: 5px;
}
.wspace {
  word-spacing: 5px;
}
.whitespace {
  white-space: normal;
}
.lineheight {
  line-height: 20px;
}

.btn {
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.search-container,
.btn-container,
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
