<div>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <input
      formControlName="searchField"
      type="text"
      class="search-field"
      placeholder="Search city"
    />

    <button
      class="btn btn-submit"
      type="submit"
      [disabled]="form.invalid || (isValid | async)"
      [ngClass]="{ invalid: form.invalid || (isValid | async) }"
    >
      {{ "search" | uppercase }}
    </button>
  </form>
  <span class="error" *ngIf="fancyWeatherService.errorMessage | async"
    >{{ fancyWeatherService.errorMessage | async }}, input correct city,
    please</span
  >
</div>
