form {
  margin-bottom: 7px;
}

.search-field {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  width: 274px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  padding: 13px 58px 13px 15px;
}

.search-field::placeholder {
  align-items: center;
  color: #ffffff;
}

.btn-submit,
.btn-disabled {
  width: 101px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0px 5px 5px 0px;
  text-align: center;
}

.invalid {
  opacity: 0.5;
}

.error {
  color: #ffffff;
  padding-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
